/*! fonts link */

@font-face {
   font-family: "Gilroy-Bold";
   font-style: normal;
   font-weight: 600;

   src: local("Gilroy"),
        url("assets/fonts/gilroy-bold.woff2") format("woff2"),
        url("assets/fonts/gilroy-bold.woff") format("woff");

   font-family: "Gilroy-Medium";
   font-style: normal;
   font-weight: 400;

   src: local("Gilroy"),
        url("assets/fonts/gilroy-medium.woff2") format("woff2"),
        url("assets/fonts/gilroy-medium.woff") format("woff");
 }

/*! variables */

:root {
   --main-text-color: #000000;
   --second-text-color: #828282;
   --third-text-color: #ffffff;
 
    --main-bg-color: #E5E5E5;
    --second-bg-color: #ffffff;
 }

 /*! global styles */
 
 /* Selective nulling */
 
 /* Removing the underscore and blue color of all links */
 a {
    color: inherit;
    text-decoration: none;
 }
 
 /* Specify box sizing */
 *,
 *::before,
 *::after {
    box-sizing: border-box;
 }
 
 /* Remove standard styling for all ul and il that have a class attribute*/
 ul[class],
 ol[class] {
    list-style: none;
 }
 
 /* Inherit fonts for intuitions and buttons */
 input,
 button,
 textarea,
 select {
    font: inherit;
 }
 
 /* Simplifying work with images */
 img {
    max-width: 100%;
    height: auto;
    display: block;
 }
 
 /* Elements a that don't have a class are reset to default styles */
 a:not([class]) {
    text-decoration-skip-ink: auto;
 }
 
 /* Remove internal indentation */
 ul[class],
 ol[class] {
    padding: 0;
 }
 
 /* Remove the outside indentation */
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 ul[class],
 ol[class],
 li,
 figure,
 figcaption,
 blockquote,
 dl,
 dd {
    margin: 0;
 }
 
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
 }
 
 .bigred {
    font-size: 20px;
    color: red;
}

/*! page styles */

html {
   width: 100%;
   font-family: "Gilroy-Bold", sans-serif;
   font-weight: 600;
   font-style: normal;
   font-size: 18px;
   line-height: 22px;
   color: var(--main-text-color);

}

body {
   background-color:var(--main-bg-color);
   display: flex;
	flex-direction: column;
	align-items: center;
   scroll-behavior: smooth;
}

.container-centerer {
   max-width: 1445px;
	align-content: center;
}

/* %HEADER */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.main-header {
   background-color: var(--second-bg-color);
   width: 100%;
   height: 88px;
}

ul.navigation-list {
   display: flex;
   width: 65%;
   flex-direction: row;
   border-bottom: 2px solid #828282;
   max-width: 940px;
   justify-content: space-between;
   margin: 0 auto;
}

.navigation-item {
   margin-top: 31px;
   margin-bottom: 35px;
}

.navigation-link {
   color:var(--second-text-color)
}

.link-home {
   color: var(--main-text-color);
}

/* !animation navigation*/
.navigation-link:hover ,
.navigation-link:focus {
   transition: 870ms;
   color: var(--main-text-color);
}

.link-home:hover ,
.link-home:focus {
   transition: 870ms;
   color: var(--second-text-color);
}

/* %FOOTER */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.main-footer{
   display: flex;
   width: 100%;
   flex-direction: column;
   max-height: 622px;
   background-color: var(--second-bg-color);
   align-items: center;
   cursor: default;
}

.contacts-header {
   font-size: 34px;
   line-height: 42px;
   text-align: center;
   margin-top: 115px;
   margin-bottom: 30px;
}

.contacts-text {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   margin-bottom: 30px;
}

.contacts-button {
   margin-bottom: 85px;
   width: 180px;
   height: 42px;
   border: none;
   background-color: var(--main-text-color);
   border-radius: 50px;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color:var(--third-text-color);
   -webkit-box-shadow: 1px 6px 8px 2px rgba(130, 130, 130, 0.61);
   -moz-box-shadow: 1px 6px 8px 2px rgba(130, 130, 130, 0.61);
   box-shadow: 1px 6px 8px 2px rgba(130, 130, 130, 0.61);
   cursor: pointer;
}

.contacts-button:hover ,
.contacts-button:focus {
   transition: 870ms;
   background-color: var(--second-text-color);
}

.contacts-button:active {
   transition: 870ms;
   color: var(--main-animation-color);
}

.contact-list{
   display: flex;
   flex-direction: row;
   width: 100%;
   max-width: 345px;
   justify-content: space-between;
}

.contact-item a{
   display: flex;
   width: 40px;
   height: 40px;
}

.link-li {
   background-image: url(../svg/icon-li.svg);
   background-position: center;
}

.link-in {
   background-image: url(../svg/icon-in.svg);
   background-position: center;
}

.link-be {
   background-image: url(../svg/icon-be.svg);
   background-position: center;
}

.link-dr {
   background-image: url(../svg/icon-dr.svg);
   background-position: center;
}

/* !animation social */
.contact-item a:hover,
.contact-item a:focus {
   transition: 870ms;
   opacity: 0.6;
}

.social-text {
   display: flex;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color:var(--second-text-color);
   margin-top: 45px;
   margin-bottom: 123px;
}

/* %MAIN */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

main {
   display: flex;
   flex-direction: column;
   background-color: var(--second-bg-color);
   width: 100%;
   text-align: center;
   cursor: default;
}

/* !about */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.about {
   display: flex;
   flex-direction: column;
}

.wrapper-about-headed {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 33px;
   margin-bottom: 37px;
}

.container-centerer-section {
   max-width: 940px;
   width: 65%;
   margin: 0 auto;
}

.about-header {
   margin: 0;
   font-family:"Gilroy";
   font-weight: 600;
   font-size: 48px;
   line-height: 59px;
}

.about-position {
   font-weight: 400;
   align-self: flex-end;
   margin-bottom: 15px;
   margin-right: 44px;
   text-align: start;
   transition: 870ms;
}

.wrapper-language-selector {
   margin: 0;
}

.selector-ru ,
.selector-separator ,
.selector-eng {
   display: flex;
   flex-direction: column;
   font-size: 16px;
   line-height: 20px;
   margin-right: -10px;
   transform: rotate(-90deg);
}

.selector-eng {
   margin-top: 40px;
}

.selector-separator {
   margin-top: 7px;
}

.selector-ru {
   color: var(--second-text-color);
   cursor: not-allowed;
}

.selector-eng:hover ,
.selector-eng:focus {
   transition: 870ms;
   color: var(--second-text-color);
}

.wrapper-portrait {
   display: flex;
   margin-bottom: 220px;
}

.wrapper-about-me {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 198px;
}   

.about-me-header {
   font-size: 34px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 20px;
}

.about-me-text {
   max-width: 485px;
   font-size: 18px;
   font-weight: 400;
   line-height: 22px;
   text-align: center;
}

.about-me-text-center{
   margin-top: 45px;
   margin-bottom: 45px;
}

/* !skills */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.skills {
   display: flex;
   flex-direction: column;
   margin-bottom: 111px;
}

.skills-header {
   font-size: 34px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 50px;
   text-align: center;
}

.skills-description {
   font-size: 18px;
   line-height: 22px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 85px;
}

.skills-list {
   display: flex;
   flex-direction: row;
   min-height: 210px;
   max-width: 910px;
   justify-content: space-between;
   flex-wrap: wrap;
}

.skills-item {
   display: flex;
   flex-direction: column;
   min-width: 166px;
   align-items: center;
}

.skills-logo {
   display: flex;
   margin-bottom: 24px;
}

img.logo-2 {
   margin-left: 20px;
}

img.logo-3 {
   margin-left: 33px;
}

img.logo-4 {
   margin-left: 55px;
}

.skills-text {
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: var(--second-text-color);
   margin-bottom: 37px;
}

.text-2 {
   margin-left: 12px;
}

.text-3 {
   margin-left: 31px;
}

.text-4 {
   margin-left: 48px;
   margin-bottom: 55px;  
}
.star-rating {
   display: flex;
   flex-direction: row;
   min-width: 166px;
   min-height: 26px;
   justify-content: space-between;
}

.star-item {
   display: flex;
   width: 21px;
   height: 21px;
   background-image: url(../svg/icon-star-black.svg);
}

.item-1 {
   background-image: url(../svg/icon-star-white.svg);
}

ul .rating-2 {
   margin-left: 24px;
}

ul .rating-3 {
   margin-left: 27px;
}

ul .rating-4 {
   margin-left: 5px;
}

/* !portfolio */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

.portfolio {
   display: flex;
   flex-direction: column;
}

.portfolio-header {
   display: flex;
   margin-top: 101px;
   margin-bottom: 55px;
   font-size: 34px;
   line-height: 42px;
   align-self: center;
}

.portfolio-list {
   display: flex;
   flex-direction: column;
}

.portfolio-items {
   margin-bottom: 99px;
}

.portfolio-image {
   margin-bottom: 43px;
}

.portfolio-link {
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   text-decoration-line: underline;
}

.portfolio-link:hover ,
.portfolio-link:focus {
   transition: 870ms;
   color: var(--second-text-color);
}

/* %MOBILE */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* ! 1444 px */

@media (max-width: 1444px) {
   
   .skills-list {
      display: flex;
      max-width: 444px;
      align-self: center;
   }

   .skills-item {
      margin-bottom: 35px;
   }
   
   img.logo-2 ,
   img.logo-3 ,
   img.logo-4,
   .text-2 ,
   .text-3 ,
   .text-4 ,
   ul .rating-2 ,
   ul .rating-3 ,
   ul .rating-4 {
      margin-left: 0;
   }  

}

/* ! 1290px */

@media (max-width: 1290px) {

   .wrapper-portrait {
      margin-bottom: 111px;
   }

}

/* ! 903 px */

@media (max-width: 903px) {

   .wrapper-portrait {
      margin-bottom: 89px;
   }

   .wrapper-about-me {
      margin-bottom: 89px;
   }

   .skills {
      margin-bottom: 75px;
   }

   .portfolio-header {
      margin-top: 31px;
   }

   .portfolio-header {
      margin-top: 48px;
   }

   .contacts-header {
      margin-top: 48px;
   }

   .portfolio-items {
      margin-bottom: 65px;
   }
}

/* ! 555 px */

@media (max-width: 555px) {
   
   .contact-list {
      max-width: 315px;
   }

   .main-header {
      display: none;
   }

   .skills-list{
      justify-content: center;
   } 

}
