/*! fonts link */

@font-face {
   font-family: "Gilroy-Bold";
   font-style: normal;
   font-weight: 600;

   src: local("Gilroy"),
        url("assets/fonts/gilroy-bold.woff2") format("woff2"),
        url("assets/fonts/gilroy-bold.woff") format("woff");

   font-family: "Gilroy-Medium";
   font-style: normal;
   font-weight: 400;

   src: local("Gilroy"),
        url("assets/fonts/gilroy-medium.woff2") format("woff2"),
        url("assets/fonts/gilroy-medium.woff") format("woff");
 }

/*! variables */

:root {
   --main-text-color: #000000;
   --second-text-color: #828282;
   --third-text-color: #ffffff;
 
    --main-bg-color: #E5E5E5;
    --second-bg-color: #ffffff;

   --main-animation-color: rgb(155, 10, 10);
 }

 /*! global styles */
 
 /* Selective nulling */
 
 /* Removing the underscore and blue color of all links */
 a {
    color: inherit;
    text-decoration: none;
 }
 
 /* Specify box sizing */
 *,
 *::before,
 *::after {
    box-sizing: border-box;
 }
 
 /* Remove standard styling for all ul and il that have a class attribute*/
 ul[class],
 ol[class] {
    list-style: none;
 }
 
 /* Inherit fonts for intuitions and buttons */
 input,
 button,
 textarea,
 select {
    font: inherit;
 }
 
 /* Simplifying work with images */
 img {
    max-width: 100%;
    display: block;
 }
 
 /* Elements a that don't have a class are reset to default styles */
 a:not([class]) {
    text-decoration-skip-ink: auto;
 }
 
 /* Remove internal indentation */
 ul[class],
 ol[class] {
    padding: 0;
 }
 
 /* Remove the outside indentation */
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 ul[class],
 ol[class],
 li,
 figure,
 figcaption,
 blockquote,
 dl,
 dd {
    margin: 0;
 }
 
 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
 }
 
 .bigred {
    font-size: 20px;
    color: red;
 }
 
/*! page styles */

html {
   width: 100%;
   font-family: "Gilroy-Bold", sans-serif;
   font-weight: 600;
   font-style: normal;
   font-size: 18px;
   line-height: 22px;
   color: var(--main-text-color);
   scroll-behavior: smooth;
}

body {
   background-color:var(--main-bg-color);
   display: flex;
	flex-direction: column;
	align-items: center;
}

.container-centerer {
   max-width: 1445px;
	align-content: center;
}

/* %HEADER */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.main-header {
   background-color: var(--second-bg-color);
   width: 100%;
   height: 88px;
}

ul.navigation-list {
   display: flex;
   width: 100%;
   flex-direction: row;
   border-bottom: 2px solid #828282;
   max-width: 940px;
   justify-content: space-between;
   margin: 0 auto;
}

.navigation-item {
   margin-top: 31px;
   margin-bottom: 35px;
}

.navigation-link {
   color:var(--second-text-color)
}

.link-home {
   color: var(--main-text-color);
}

/* !animation */
.navigation-link:hover ,
.navigation-link:focus ,
.navigation-link:active ,
.link-home:hover ,
.link-home:focus ,
.link-home:active {
   transition: 870ms;
   color: var(--main-animation-color);
}
